*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
}
.belepes{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
form{
    position: relative;
    width: 430px;
    height: 480px;
    background-color: beige;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
h1{
    font-size: 45px;
}
.szoveg-box{
    width: 300px;
    margin: 30px;
}
.szoveg-box .icon{
    position: absolute;
    margin-left: 4px;
    line-height: 53px;
    
}
.szoveg-box input{
    background: transparent;
    outline: none;
    text-align: center;
    width: 300px;
    height: 50px;
    border-radius: 15px;
}

.gomb{
    width: 300px;
    margin: 30px;
}
button{
    width: 150px;
    height: 45px;
    border-radius: 15px;
}
.reglink{
    width: 300px;
    margin: 30px;
    margin-bottom: 10px;
}