h2{
     font-size: 50px;
     text-align: center;
     color: white;

     background-image: url(img/cat2.jpg);
     background-size: 100%;
     background-repeat: no-repeat;
     background-attachment: fixed;
     block-size: 300px;
     
}
img{
    width: 100%;
}