h2{
     font-size: 150px;
     text-align: center;
     color: rgb(255, 255, 255, 0.9);
     background-image: url(img/cat3.png);
     background-size: 100%;
     background-repeat: no-repeat;
     background-attachment: fixed;
     block-size: 400px;
     background-size: 100%;
     font-family: 'Bebas Neue';
     background-color: rgb(0, 0, 0, 0.2);

}
img{
     border-radius: 25px;
     width: 350px;

}
.kep span p{
     display: inline;
}