/* .mouse-cursor{
    position: fixed;
    height: 30px;
    width: 25px;
    color: blueviolet;
    transform: rotate(15deg);
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
}

body{
    background-color: #FC6C85;
}
header{
    width: 100%;
    height: 20vh;
}
.navbar{
    position: fixed;
    width: 100%;
    height: 130px;
}
nav ul{
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: 1s;
}
nav ul li{
    display: inline-block;
    padding: 20px;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}